02/q1,5.yaml
inputs:
  - id: taxi
    type: SELECT
    values: ["yellow", "green"]
    defaults: "yellow"
  - id: year
    type: SELECT
    values: ["2019", "2020", "2021"]
    defaults: "2020"
  - id: month
    type: SELECT
    values: ["01","02","03","04","05","06","07","08","09","10","11","12"]
    defaults: "12"

tasks:
  - id: extract
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    outputFiles:
      - "*.csv"
    commands:
      - >
        wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{inputs.taxi}}/{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv.gz 
        | gunzip > {{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv

  - id: create_monthly_table
    type: io.kestra.plugin.jdbc.postgresql.Query
    url: jdbc:postgresql://postgres:5432/ny_taxi
    username: postgres
    password: postgres
    sql: |
      CREATE TABLE IF NOT EXISTS {{inputs.taxi}}_tripdata_{{inputs.year}}_{{inputs.month}} (
          VendorID INT,
          {{inputs.taxi == 'yellow' ? 'tpep_pickup_datetime' : 'lpep_pickup_datetime'}} TIMESTAMP,
          {{inputs.taxi == 'yellow' ? 'tpep_dropoff_datetime' : 'lpep_dropoff_datetime'}} TIMESTAMP,
          passenger_count DOUBLE PRECISION,
          trip_distance DOUBLE PRECISION,
          RatecodeID DOUBLE PRECISION,
          store_and_fwd_flag TEXT,
          PULocationID INT,
          DOLocationID INT,
          payment_type INT,
          fare_amount DOUBLE PRECISION,
          extra DOUBLE PRECISION,
          mta_tax DOUBLE PRECISION,
          tip_amount DOUBLE PRECISION,
          tolls_amount DOUBLE PRECISION,
          improvement_surcharge DOUBLE PRECISION,
          total_amount DOUBLE PRECISION,
          congestion_surcharge DOUBLE PRECISION
      );

  - id: load_to_postgres
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://postgres:5432/ny_taxi
    username: postgres
    password: postgres
    from: "{{outputs.extract.outputFiles[inputs.taxi ~ '_tripdata_' ~ inputs.year ~ '-' ~ inputs.month ~ '.csv']}}"
    table: "{{inputs.taxi}}_tripdata_{{inputs.year}}_{{inputs.month}}"
    format: CSV
    header: true
    delimiter: ","